Repository Readarr/Readarr, pull requests merged in 2021-07, with the labels that each got.

#1095 Really ignore ResizeObserver loop errors
  frontend/src/Store/Middleware/createSentryMiddleware.js
Labels: Status: Ready for Review

#1097 Fixed: Compatibility with the new Download Station API
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadStationTests/TorrentDownloadStationFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadStationTests/UsenetDownloadStationFixture.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DiskStationApi.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStation2Task.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DiskStationProxyBase.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxySelector.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxyV1.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxyV2.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationError.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DownloadStation2TaskInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
Labels: Status: Ready for Review

#1094 Add list sync
  src/NzbDrone.Core/ImportLists/ImportListType.cs
  src/NzbDrone.Core/ImportLists/Readarr/ReadarrAPIResource.cs
  src/NzbDrone.Core/ImportLists/Readarr/ReadarrImport.cs
  src/NzbDrone.Core/ImportLists/Readarr/ReadarrSetting.cs
  src/NzbDrone.Core/ImportLists/Readarr/ReadarrV1Proxy.cs
Labels: Status: Waiting for OP

#1108 fix: add SortName to author name regex validation
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Status: Ready for Review

#1113 Fixed: "Profile" to "Indexer" on Clone Button
  frontend/src/Settings/Indexers/Indexers/Indexer.js
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: Status: Waiting for OP

#1129 New: Allow quality size limits to be closer together
  frontend/src/Settings/Quality/Definition/QualityDefinition.js
Labels: Status: Ready for Review, sonarr-pull

#1130 Fixed: Unable to close indexer category select input on mobile
  frontend/src/Components/Form/EnhancedSelectInput.css
  frontend/src/Components/Form/EnhancedSelectInput.js
  frontend/src/Components/Form/EnhancedSelectInputOption.css
  frontend/src/Components/Form/EnhancedSelectInputOption.js
Labels: Status: Ready for Review, sonarr-pull
