Repository Readarr/Readarr, pull requests merged in 2021-12, with the labels that each got.

#1349 Update Github Templates [skip ci]
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: Status: Ready for Review

#1354 readme updates [skip ci]
  README.md
Labels: Area: Documentation, Status: Ready for Review

#1385 New: Display Unknown Items in Activity Queue by Default
  frontend/src/Store/Actions/queueActions.js
Labels: Status: Ready for Review

#1392 New: On Delete Notifications
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  frontend/src/Store/Actions/Settings/notifications.js
  src/NzbDrone.Core.Test/NotificationTests/NotificationBaseFixture.cs
  src/NzbDrone.Core/Books/Events/AuthorDeletedEvent.cs
  src/NzbDrone.Core/Books/Events/BookDeletedEvent.cs
  src/NzbDrone.Core/Datastore/Migration/021_add_on_delete_to_notifications.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/Events/DeleteCompletedEvent.cs
  src/NzbDrone.Core/MediaFiles/MediaFileDeletionService.cs
  src/NzbDrone.Core/Notifications/AuthorDeleteMessage.cs
  src/NzbDrone.Core/Notifications/BookDeleteMessage.cs
  src/NzbDrone.Core/Notifications/BookFileDeleteMessage.cs
  src/NzbDrone.Core/Notifications/Boxcar/Boxcar.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordColors.cs
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Goodreads/Bookshelf/GoodreadsBookshelf.cs
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/INotification.cs
  src/NzbDrone.Core/Notifications/Join/Join.cs
  src/NzbDrone.Core/Notifications/Mailgun/Mailgun.cs
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/NotificationBase.cs
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Prowl/Prowl.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBullet.cs
  src/NzbDrone.Core/Notifications/Pushover/Pushover.cs
  src/NzbDrone.Core/Notifications/SendGrid/SendGrid.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Subsonic/Subsonic.cs
  src/NzbDrone.Core/Notifications/Synology/SynologyIndexer.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Twitter/Twitter.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookAuthorDeletePayload.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBookDeletePayload.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBookFileDeletePayload.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEventType.cs
  src/Readarr.Api.V1/Notifications/NotificationResource.cs
Labels: Area: Notifications, Area: DB Migration, Area: Database

#1389 Fixed: Various Wiki Links
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  src/NzbDrone.Core/HealthCheck/Checks/ImportListStatusCheck.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
Labels: Status: Ready for Review
